[user]
    name = {{ .name | quote }}
    email = {{ .personal.git.email | quote }}
    signingkey = {{ .personal.git.signingKey | quote }}
{{- if .work.enable }}
[includeIf "gitdir:~/clones/"]
    path = ~/.gitconfig.work
{{- end }}
[commit]
    gpgsign = true
[gpg]
    program = gpg
[tag]
    gpgSign = true
[credential]
    helper = !gh auth git-credential
    useHttpPath = true
[http]
    version = HTTP/2
    postBuffer = 524288000
[init]
    defaultBranch = main
[pull]
    rebase = true
[alias]
    st = status -sb
    ss = status
    d = diff
    dc = diff --cached
    ds = diff --stat
    co = checkout
    cb = checkout -b
    sw = switch
    swc = switch -c
    br = branch
    bra = branch -a
    type = cat-file -t
    dump = cat-file -p
    ci = commit
    cia = commit --amend
    cian = commit --amend --no-edit
    cm = commit -m
    ca = commit --all
    cane = commit --amend --no-edit
    cf = commit --fixup
    pl = pull --rebase
    ps = push
    pf = push --force-with-lease
    pub = push -u origin HEAD
    rb = rebase
    rbi = rebase -i
    rbf = rebase -f
    rbfm = rebase -f origin/main
    rba = rebase --abort
    rbc = rebase --continue
    mt = mergetool
    aa = add --all
    ap = add --patch
    unstage = restore --staged
    restore = restore .
    rv = revert
    last = log -1 HEAD --stat
    l = log --oneline
    lg = log --oneline --graph --decorate --all
    ll = log --stat
    lp = log --patch
    who = shortlog -sn
    aliases = config --get-regexp alias
[core]
    editor = hx
    excludesfile = ~/.gitignore
