[user]
    name = {{ .name | quote }}
    email = {{ .personal.git.email | quote }}
    signingkey = {{ .personal.git.signingKey | quote }}
{{- if .work.enable }}
[includeIf "gitdir:~/clones/"]
    path = ~/.gitconfig.work
{{- end }}
[commit]
    gpgsign = true
[gpg]
    program = gpg
[tag]
    gpgSign = true
[credential "https://github.com"]
    helper =
    helper = !gh auth git-credential
[credential "https://gist.github.com"]
    helper =
    helper = !gh auth git-credential
[http]
    version = HTTP/2
    postBuffer = 524288000
[init]
    defaultBranch = main
