#!/bin/bash
# Run expensive operations once per day

# Source helper scripts with functions
source ${HOME}/.zsh_completions

# Define paths
local last_run_path="${XDG_CACHE_HOME:-$HOME/.cache}/zsh_daily"
local last_run_file="${last_run_path}/last_successful_run"

# Ensure the paths exist
mkdir -p "$last_run_path"

# Read last run (safely), get today's date
local last_run=""
[[ -f $last_run_file ]] && last_run=$(<"$last_run_file")
local today=$(date +%F)

autoload -Uz compinit

run_daily_operations() {
    echo "Running daily operations."
    mise self-update -y
    mise upgrade
    {{- if .work.enable }}
    mise run osx:disable-file-extensions
    {{- end }}
    compinit
    generate_completions
    load_completions

    # Mark today as successful run
    echo "$today" > "$last_run_file"
}

# Run daily tasks only if not already run today
if [[ $last_run != $today ]]; then
  run_daily_operations
else
  compinit -C
  load_completions
fi
