[env]
MISE_GITHUB_TOKEN = {{ secret "find-generic-password" "-ga" "mise-gh-pat" "-w" | quote }}

[tools]
"go:golang.org/x/tools/gopls" = "latest"
"ubi:errata-ai/vale-ls" = "latest"
"ubi:joshrotenberg/adrs" = "latest"
"ubi:mrjosh/helm-ls" = "latest"
chezmoi = "latest"
fzf = "latest"
gh = "latest"
go = "latest"
helix = "latest"
helm = "latest"
k9s = "latest"
kind = "latest"
kubebuilder = "latest"
kubectl = "latest"
kubelogin = "latest"
node = "latest"
popeye = "latest"
superfile = "latest"
usage = "latest"
vale = "latest"
