[env]
MISE_GITHUB_TOKEN = {{ secret "find-generic-password" "-ga" "mise-gh-pat" "-w" | quote }}

[tools]
"github:joshrotenberg/adrs" = "latest"
bat = "latest"
chezmoi = "latest"
dust = "latest"
fd = "latest"
fzf = "latest"
gh = "latest"
helix = "latest"
hk = "latest"
lazygit = "latest"
superfile = "latest"
television = "latest"
usage = "latest"
vale = "latest"
yamlfmt = "latest"
yq = "latest"
