[env]
MISE_GITHUB_TOKEN = {{ secret "find-generic-password" "-ga" "mise-gh-pat" "-w" | quote }}

[tools]
"github:errata-ai/vale-ls" = "latest"
"github:joshrotenberg/adrs" = "latest"
chezmoi = "latest"
fzf = "latest"
gh = "latest"
helix = "latest"
lazygit = "latest"
node = "latest"
superfile = "latest"
television = "latest"
usage = "latest"
vale = "latest"
